---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Home">
	<main style="background-image: url('contact-bg.png');"
      class="h-[calc(100vh-90px)] text-white w-full bg-cover bg-center bg-no-repeat flex justify-center px-4 lg:px-20">
		<div class="text-center mt-10 px-4">
        <h1 class="text-[32px] md:text-[48px] font-bold">Contact Us</h1>
        <p>Lorem ipsum, dolor  amet elit. Nostrum error illum!</p>
    </div>
	</main>
</Layout>