---
import Layout from "../layouts/Layout.astro";
---

<!-- Homepage.astro -->

<Layout title="Site Name">
  <main class="bg-white">
    <!-- Hero section -->
    <section
      style="background-image: url('hero-desktop.png');"
      class="h-[calc(100vh-90px)] bg-cover bg-center bg-no-repeat flex items-center justify-start px-4 lg:px-20 text-white"
    >
      <div class="container mx-auto py-16">
        <h1 class="text-4xl lg:text-5xl max-w-[500px] font-bold mb-4 leading-tight">
          Give your body the best treatment!
        </h1>
        <p class="text-sm md:text-base mb-8 max-w-[500px]">
          Our expert team of doctors and nurses provide personalized care to meet your individual needs.
        </p>
        <div class="flex flex-col md:flex-row items-center md:space-x-4">
          <a
            href="/book-appointment"
            class="bg-white hover:bg-gray-300 text-black py-3 md:py-4 px-4 rounded-md mb-4 md:mb-0 md:inline-block text-center transition duration-300 ease-in-out w-full md:w-[230px]"
            >Book An Appointment</a
          >
          <a
            href="/explore-treatment"
            class="bg-transparent hover:bg-white hover:text-black ring-inset ring-1 ring-white text-white py-3 md:py-4 px-4 rounded-md md:inline-block text-center transition duration-300 ease-in-out w-full md:w-[230px]"
            >Explore Treatment</a
          >
        </div>
      </div>
    </section>

    <!-- Our services -->
    <section class="bg-gray-100">
      <div class="flex flex-col-reverse lg:flex-row gap-y-10 lg:h-[864px] w-full items-center px-4 lg:px-20 py-10">
        <div class="flex-1 flex flex-col gap-y-6">
          <h2 class="text-2xl lg:text-3xl font-bold">Face & Body Treatments</h2>
          <p class="text-sm md:text-base max-w-[630px]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
          </p>
          <button class="w-fit ring-1 ring-black rounded-md px-4 py-2 hover:animate-bounce transition-all">Book an Appointment</button>
        </div>
        <div class="flex-1 flex justify-end">
          <img src="treatment.png" alt="Face & Body Treatments" class="lg:h-[600px] w-[600px] object-contain" />
        </div>
      </div>
      <hr class="lg:hidden">
      <div class="flex flex-col lg:flex-row gap-y-10 lg:h-[864px] w-full items-center px-4 lg:px-20 py-10">
        <div class="flex-1">
          <img src="career.png" alt="Make A Good Career" class="lg:h-[600px] w-[600px] object-contain" />
        </div>
        <div class="flex-1 flex flex-col gap-y-6">
          <h2 class="text-2xl lg:text-3xl font-bold">Make A Good Career</h2>
          <p class="text-sm md:text-base max-w-[630px]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
          </p>
          <button class="w-fit ring-1 ring-black rounded-md px-4 py-2 hover:animate-bounce transition-all">Explore Careers</button>
        </div>
      </div>
    </section
