---
import Treatments from "../components/Treatments";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Site Name | Treatment">
  <main>
    <div class="text-center mt-10 px-4">
        <h1 class="text-[32px] md:text-[48px] font-bold">Our Treaments</h1>
        <p>Lorem ipsum, dolor  amet elit. Nostrum error illum!</p>
    </div>
    <section class="">
        <Treatments />
    </section>
  </main>
</Layout>
